<ng-container [formGroup]="form">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <mat-form-field appearance="outline" class="example-full-width col-12">
        <mat-label>Game Name</mat-label>
        <input type="text" matInput formControlName="gameName">
        <mat-error
          *ngIf="(gf.gameName.invalid || gf.gameName.errors?.required)">
          Please enter a valid game name
        </mat-error>
        <mat-error *ngIf="gf.gameName.errors?.required">
          Game name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <ng-container *ngIf="gameTimeShow===true">
        <mat-form-field appearance="outline" class="example-full-width col-12">
          <mat-label>Game Time</mat-label>
          <input type="number" min="0" matInput value="0" formControlName="gameTime">
        </mat-form-field>
      </ng-container>
    </div>
    <ng-container *ngIf="leaderBoardShow===true">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="example-full-width col-12">
          <mat-label>LeaderBoard Count</mat-label>
          <input type="number" min="0" matInput value="0" formControlName="leaderBoard">
        </mat-form-field>
      </div>
    </ng-container>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <ng-container formGroupName="gameType">
          <div class="col-md-6">
            <mat-slide-toggle class="d-block mb-3" formControlName="userRegisterLogin"
                              (change)="toggle($event,'Register')">
              ByRegistering
            </mat-slide-toggle>
          </div>
          <div class="col-md-6">
            <mat-slide-toggle class="d-block mb-3" formControlName="userNickNameLogin"
                              (change)="toggle($event,'NickName')">
              LoginWithNickname
            </mat-slide-toggle>
          </div>
        </ng-container>
        <div class="col-md-6">
          <mat-slide-toggle class="d-block mb-3" formControlName="leaderBoardShow"
                            (change)="showHide($event,'leaderBoardShow')">
            leaderBoardShow
          </mat-slide-toggle>
        </div>

        <div class="col-md-6">
          <mat-slide-toggle class="d-block mb-3" formControlName="gameTimeShow"
                            (change)="showHide($event,'gameTimeShow')">
            gameTimeShow
          </mat-slide-toggle>
        </div>

        <div class="col-md-6">

          <mat-slide-toggle class="d-block mb-3" formControlName="showPoint"> ShowPoint
          </mat-slide-toggle>

        </div>

        <div class="col-md-6">
          <mat-slide-toggle class="d-block mb-3" formControlName="EliminatedForWrongAnswer">WrongAnswer
          </mat-slide-toggle>
        </div>

        <div class="col-md-6">
          <mat-slide-toggle class="d-block mb-3" formControlName="ModAnswerShow">ShowAnswerButton
          </mat-slide-toggle>
        </div>

        <div class="col-md-6">
          <mat-slide-toggle class="d-block mb-3" formControlName="UserCorrectShowAnswer">ShowCorrectAnswer
          </mat-slide-toggle>
        </div>

        <div class="col-md-6">
          <mat-slide-toggle class="d-block mb-3" formControlName="UserQuestionAndAnswerShow">QuestionAndAnswerButtonShow
          </mat-slide-toggle>
        </div>

        <div class="col-md-6">
          <mat-slide-toggle class="d-block mb-3" formControlName="ModTagoPinShow">PinShow
          </mat-slide-toggle>
        </div>

        <div class="col-md-6">
          <mat-slide-toggle class="d-block mb-3" formControlName="RateTheGame">MakeAnAssessment
          </mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
</ng-container>
