<form [formGroup]="form">
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="setting">
      <div class="mb-2">
        <button mat-raised-button color="primary" matStepperNext>{{ 'Button.Next' | translate}}</button>
      </div>
      <app-game-settings [gameSettings]="form"></app-game-settings>
      <div class="mt-2">
        <button mat-raised-button color="primary" matStepperNext>{{ 'Button.Next' | translate}}</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="question">
      <div class="d-flex align-items-center mb-4">
        <button mat-raised-button color="primary" matStepperPrevious>{{ 'Button.Back' | translate}}</button>
        <button class="ms-4" mat-raised-button color="primary" matStepperNext>{{ 'Button.Next' | translate}}</button>
      </div>

      <div class="example-action-buttons">
        <button mat-stroked-button color="primary" (click)="expandAll()">{{'CreateGame.Expand' | translate}}</button>
        <button mat-stroked-button color="accent" class="ms-4"
                (click)="collapseAll()">{{'CreateGame.Collapse' | translate}}</button>
      </div>
      <ng-container *ngFor="let question of question.controls; let i=index">
        <div class="my-4 position-relative">
          <button class="removeBtn" *ngIf="i>2" mat-stroked-button color="primary" (click)="removeQuestion(i)">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
                      class="d-flex align-items-center justify-content-center m-0 p-0" fontIcon="close"></mat-icon>
          </button>
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header class="d-flex align-items-center justify-content-between">
                <mat-panel-title>
                  <h2 class="m-0 p-0"> {{i + 1}}. {{ 'CreateGame.Question' | translate }}</h2>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <app-question-and-answer [question]="question"></app-question-and-answer>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </ng-container>
      <button mat-stroked-button color="primary" class="d-block mx-auto col-4 py-3 h-auto mt-3"
              (click)="newQuestionAndAnswer()">
        <span>{{ 'CreateGame.AddQuestion' | translate }}</span>
      </button>

      <div class="d-flex align-items-center mt-4">
        <button mat-raised-button color="primary" matStepperPrevious>{{ 'Button.Back' | translate}}</button>
        <button class="ms-4" mat-raised-button color="primary" matStepperNext>{{ 'Button.Next' | translate}}</button>
      </div>
    </mat-step>
    <mat-step>
      <app-finish></app-finish>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>{{ 'Button.Back' | translate}}</button>
      </div>
    </mat-step>
  </mat-stepper>
</form>
